{% extends "hpced/base.html" %}

{% block title %}Search for Training Resources{% endblock %}
{% block content %}
<form action="/search/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

<hr>
<div>
{% for result in result_list %}
    <table class="search_result" border="3">
    {% for key, value in result.items %}
        <tr>
            <td width="110">{{ key }}</td>
            {% if key == "URL" %}
                <td><a href={{ value }}>{{ value }}</a></td>
            {% else %}
                <td>{{ value }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
{% endfor %}
</div>
{% endblock %}
