<!DOCTYPE html>
<html>
<head>
    <title>HPC-ED</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    {% block style_and_js %}
    <style>
        .top-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #333;
            color: white;
        }
        .top-bar a {
            color: white;
            text-decoration: none;
            margin-left: 20px;
        }
    </style>
    {% endblock %}
</head>
<body>
    <div class="top-bar">
        <div class="logo">
            <a href="{% url 'index' %}"><h1>NLC^2 HPC-ED</h1></a>
        </div>
        <div class="auth-links">
            {% if user.is_authenticated %}
                <a href="{% url 'account_logout' %}">Log Out</a>
            {% else %}
                <a href="{% url 'account_login' %}">Log In</a>
            {% endif %}
        </div>
    </div>

    <h1>{% block title %}{% endblock %}</h1>
    {% block content %}{% endblock %}
</body>

</html>
