<!DOCTYPE html>
<html>
<head>
    <title>HPC-ED</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    {% block style_and_js %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
    <style>


body {
    font-family: 'Ubuntu';font-size: 22px;
}

        .top-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: rgb(0, 0, 0);
        }
        .top-bar a {
            color: white;
            text-decoration: none;
            margin-left: 20px;
        }
    </style>
    {% endblock %}
</head>

<body style="background-color: rgb(12, 7, 23);"></body>
<body>
    <div class="top-bar">
        <div class="logo">
            <!-- Logo Image and Link -->
<a href="{% url 'index' %}">
    <img src = {% static '/TransLogoNLC2.png' %} alt="Logo Image" style = "width:166px;height:189px;">
 </a>
        </div>
        <div class="auth-links">
            {% if user.is_authenticated %}
                <a href="{% url 'account_logout' %}">Log Out</a>
            {% else %}
                <a href="{% url 'account_login' %}">Log In</a>
            {% endif %}
        </div>
    </div>

    <h1>{% block title %}{% endblock %}</h1>
    {% block content %}{% endblock %}
</body>
</html>
