{% extends "hpced/base.html" %}

{% block style_and_js %}

{% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>

<style>

    body {
        font-family: 'Ubuntu';font-size: 22px;
        color: rgb(255,255,255);
        }
    .top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .top-bar a {
        
        text-decoration: none;
        margin-left: 20px;
    }


    .active, .collapsible:hover {
      background-color: #555;
    }

</style>


{% endblock %}

{% block title %}Search for Training Resources{% endblock %}
{% block content %}
<form action="/search/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

<hr>
<div>
{% for result in result_list %}
    <button class="collapsible">{{ result.Title }}</button>
    <div class="content">
    <table border="3">
    {% for key, value in result.items %}
        <tr>
            <td width="110">{{ key }}</td>
            {% if key == "URL" %}
                <td><a href={{ value }}>{{ value }}</a></td>
            {% else %}
                <td>{{ value }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
    </div>
{% endfor %}
</div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>

{% endblock %}

